<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title>Resource Repository</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="govuk-template__body">
    <div class="govuk-width-container">
      <main id="main-content">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
